<h1>Trip Info</h1>

<ul>
  <li>
    Trip ID: <%= @trip[:id] %>
  </li>
  <li>
    Driver ID: <%= @trip[:driver_id] %>
  </li>
  <li>
    Rider ID: <%= @trip[:rider_id] %>
  </li>
  <li>
    Date: <%= @trip[:date] %>
  </li>
  <li>
    Rating: <%= @trip[:rating] %>
  </li>
</ul>
