<h2>Trips for <%= "#{@passenger.name}" %></h2>


<ul>
  <% @trips.each do |trip| %>
  <li>
    Trip ID: <%= trip[:id] %>
  </li>
  <li>
    Driver ID: <%= trip[:driver_id] %>
  </li>
  <li>
    Rider ID: <%= trip[:rider_id] %>
  </li>
  <li>
    Date: <%= trip[:date] %>
  </li>
  <li>
    Rating: <%= trip[:rating] %>
  </li>
  <% end %>
</ul>
