<%= form_for @driver do |f| %>
  <ul class="demo-list-item mdl-list">
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        Driver ID: <%= f.text_field :id %>
      </span>
    </li>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        Driver name: <%= f.text_field :name %>
      </span>
    </li>
    <li class="mdl-list__item">
      <span class="mdl-list__item-primary-content">
        Driver VIN: <%= f.text_field :vin %>
      </span>
    </li>
  </ul>
  <%= f.submit class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored"%>
<% end %>
